.todo-items {
  .todo-item {
    $font-size: 18px;

    display: block;
    width: 100%;
    padding: 4px 7px;
    border: 1px solid #F0F0F0;
    margin-bottom: 4px;
    font-size: $font-size;
    cursor: default;
    @include border-radius(3px);
    @include box-shadow(inset -1px -1px 3px #F0F0F0);
    @include clearfix();

    .todo-item-text {
      float: left;
      color: #000;
    }

    .todo-item-actions {
      display: none;
      float: right;
      cursor: pointer;

      span {
        margin-left: 0.5ex;

        &.fa-check {
          color: $brand-success;
        }

        &.fa-undo {
          color: $brand-warning;
        }

        &.fa-edit {
          color: $gray;
        }
      }
    }

    .edit-field {
      display: none;
      float: left;
      padding: 0;
      width: 100%;
    }

    &:hover {
      .todo-item-actions {
        display: block;
      }
    }

    &.done {
      .todo-item-text {
        text-decoration: line-through;
        color: #A7A7A7;
      }
    }

    &.editing {
      .todo-item-text {
        display: none;
      }

      .edit-field {
        display: block;
      }

      .todo-item-actions {
        display: none;
      }
    }
  }

  input[type=text] {
    &.todo-item {
      // text-decoration: none;
    }
  }
}

.note {
  font-style: italic;
  color: #A7A7A7;
}
